@import url('../../../assets/css/all.min.css');
@import url('../../../assets/css/animate.min.css');
@import url('../../../assets/css/bootstrap.min.css');
@import url('../../../assets/css/glightbox.min.css');
@import url('../../../assets/css/lity.min.css');
@import url('../../../assets/css/main.css');
@import url('../../../assets/css/responsive.css');
@import url('../../../assets/css/slick-theme.css');
@import url('../../../assets/css/slick.css');
@import url('../../../assets/css/slicknav.min.css');
@import url('../../../assets/css/style.css');

.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* Aspect ratio 16:9 (height/width) */
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}