<div>
    <!-- Preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- Start-Header-Section -->
    <app-header></app-header>
    <!-- Banner-area -->
    <section class="same-section-spacing bg-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-box">
                        <h2>{{"dest-dest" | translate}}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/home">{{"dest-home" | translate}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{"dest-dest" | translate}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End-banner-area -->
    <!-- Start-Package-Section -->
    <section class="ws-section-spacing bg-gray">

        <div class="container">
            <div class="row">
                <div *ngFor="let item of destinationList" class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="width: 100%;
                            height: 300px;" src="{{item.image | pipe}}" alt="image">
                            <a routerLink="/tours" class="pop-btn">{{'dest-viewAllTours'| translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{item.country}} </h4>
                            <p>{{item.place}}</p>
                            <span class="float-right">{{item.countTours}} {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images-2/dubai.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{'dest-viewAllTours'| translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-Dubai" | translate}} </h4>
                            <p>{{"dest-Sea and Hotels" | translate}}</p>
                            <span class="float-right">4 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images-2/turkey2.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-Turkey" | translate}}</h4>
                            <p>{{"dest-Istanbul" | translate}}</p>
                            <span class="float-right">3 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images-2/qatar1.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-Qatar" | translate}}</h4>
                            <p>{{"dest-Amazing Places" | translate}}</p>
                            <span class="float-right">6 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images-2/tailand1.jpg" alt="">
                            <a href="#" routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-Tailand" | translate}} </h4>
                            <p> {{"dest-Shiva" | translate}}</p>
                            <span class="float-right">7 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images-2/SharmAlSheyx.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-Egypt" | translate}} </h4>
                            <p>{{"Sharm Al Sheyx" | translate}}</p>
                            <span class="float-right">5 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images-2/turkey1.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-Turkey" | translate}} </h4>
                            <p>{{"dest-sea" | translate}}</p>
                            <span class="float-right">4 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images/india.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-india" | translate}} </h4>
                            <p>{{"dest-india-title" | translate}}</p>
                            <span class="float-right">4 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images/moscow.jpg" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-moscow" | translate}} </h4>
                            <p>{{"dest-moscow-title" | translate}}</p>
                            <span class="float-right">4 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="place-box">
                        <div class="wapper-img">
                            <img style="height: 320px;" src="../../../assets/images/samarkand.webp" alt="">
                            <a routerLink="/tours" class="pop-btn">{{"dest-viewAllTours" | translate}}</a>
                        </div>

                        <div class="desi-inner">
                            <h4>{{"dest-samarkand" | translate}} </h4>
                            <p>{{"dest-samarkand-title" | translate}}</p>
                            <span class="float-right">4 {{"dest-tour" | translate}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
    </section>
    <!-- End-Package-Section -->
    <!-- offer-section -->
    <section class="offer-area-one same-section-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="add-area ">
                        <h3>{{"about-image-price" | translate}}</h3>
                        <h2>{{"about-discount" | translate}}<span class="text-theme">10-30% </span> {{"about-off" |
                            translate}}</h2>
                        <p>{{"about-image-title" | translate}}</p>
                        <a routerLink="/home" class="site-button white">{{"about-button-msg"| translate}}</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6"></div>
            </div>
        </div>
    </section>
    <!-- End-offer-section -->
    <!-- Partner-section -->
    <!-- End-Partner-section -->
    <!-- Footer-section -->
    <app-footer></app-footer>
    <!-- copyright-area -->
    <div class="footer-bottom text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="left-text">
                        {{"global-footer-title" | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End-footer-section -->
    <!-- Back to top button -->
    <!-- <a id="btn-to-top" class="show"></a> -->
    <!-- Jquery.min.js-->
    <script src="js/jquery.1.12.4.js"></script>
    <!--bootstrap.min.js-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <!--slicknav.min.js-->
    <script src="js/jquery.slicknav.min.js"></script>
    <!--slickslider.min.js-->
    <script src="js/slick.min.js"></script>
    <!-- counterup.min.js -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- magnific-popup.js -->
    <script src="js/lity.min.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/../../../assets/images-2loaded.js"></script>
    <!-- main.js -->
    <script src="js/main.js"></script>

</div>


<!-- Mirrored from weblizar.com/demo/html/jetrip/places.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Feb 2024 19:05:52 GMT -->